* {
    box-sizing: border-box;
  }
  
html,
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
 


/*-- reviewTop_menuArea start--*/

.reviewTop_menuArea {
    background-image: linear-gradient(to bottom, #eaeaea, #e7e7e7, #d1d1d199, #d1d1d199, #d1d1d199, #d1d1d199, #afafaf66, #d6d4d4de, #b6b6b6e0, #a9a8a8e8, #918c8cf7, #242424d9);
}
.reviewTop_menuArea .reviewTop_menuBodyContainer {
    display: flex;
    align-items: end;
    gap: 20px;
}
.logoAndContent .logoImageBox img {
    width: 95px;
    object-fit: cover;
    max-width: 100%;
}
.logoAndContent .cafeName_andLocation h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin: 0;
    font-weight: 500;
    color: white;
    line-height: 50px;
}
.logoAndContent .cafeName_andLocation p {
    font-size: 11px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    line-height: 0;
    font-weight: 500;
}
.logoAndContent .cafeName_andLocation i {
    padding-right: 5px;
}
.logoAndContent .cafeName_andLocation .openButton {
    font-size: 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    background: #00aa71;
    color: white;
    padding: 0px 5px;
    border-radius: 2px;
    letter-spacing: 0.2px;
}
.reviewTop_menuBodyContainer .logoAndContent {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-bottom: 10px;
}
.reviewTop_menuBodyContainer .cafeShope_imageBox img {
    width: 440px;
    height: 250px;
    object-fit: cover;
}
.logoAndContent .cafeName_andLocation p {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: white;
    letter-spacing: .3px;
}
.reviewTop_menuBodyContainer .cafeTimeContent {
    padding-left: 40px;
}
.reviewTop_menuBodyContainer .cafeTimeContent p {
    font-size: 10px;
    background: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: 700;
    font-family: 'Noto Sans JP', sans-serif;
}
.reviewTop_menuBodyContainer .cafeTimeContent i {
    padding-right: 5px;
    font-size: 9px;
}

/*-- reviewTop_menuArea end--*/


/*-- shopItems_section start--*/

.shopItems_section {
    padding-top: 70px;
    background: #F1F5F6;
    padding-bottom: 40px;
}
.shopItems_searchBox {
    position: relative;
}
.shopItems_section.itemsCols_area {
    max-width: 67%;
}
.shopItems_section .shopItems_searchBox input {
    width: 100%;
    height: 45px;
    font-size: 12px;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    color: #000000;
    padding-left: 20px;
    border: none;
    box-shadow: 0 7px 20px rgba(0,0,0,0.1);
    border-radius: 8px;
    background: white;
    outline: none;
}
.shopItems_section .shopItems_searchBox button {
    position: absolute;
    top: 0;
    right: 0;
    height: 45px;
    width: 40px;
    background: #404FB6;
    border: none;
    color: white;
    border-radius: 0 8px 8px 0px;
}

/*-- soupItemsArea start--*/

.shopItems_section .soupItemsArea {
    margin-top: 40px;
}
.soupItemsArea .soupItemsInfo {
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    border-radius: 6px;
    background: white;
    position: relative;
}
.soupItemsArea .soupItemTittle P {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Roboto',sans-serif;
}
.soupItemsArea .soupItemTittle span {
    font-size: 9px;
    font-family: 'Poppins';
    font-weight: 700;
    color: #8e8e8e;
    letter-spacing: 0.3px;
}
.soupItemsArea .soupItemTittle {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.mushroomItems_imgAndNameBox .itemsImgBox img {
    width: 55px;
    height: 55px;
    object-fit: cover;
    border-radius: 5px;
}
.mushroomItems_imgAndNameBox .mushroomItems_NameAndButton .itemName h5 {
    margin: 0;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    position: relative;
}
.mushroomItems_NameAndButton .itemName .designColorGreen {
    width: 10px;
    height: 10px;
    position: relative;
    display: inline-block;
    border-radius: 3px;
    border: 1.4px solid #00b894;
}
.mushroomItems_NameAndButton .itemName .designColorGreen:after {
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #00b894;
    top: 21%;
    left: 21%;
}
.mushroomItems_NameAndButton .itemName .designColorRed {
    width: 10px;
    height: 10px;
    position: relative;
    display: inline-block;
    border-radius: 3px;
    border: 1.4px solid red;
}
.mushroomItems_NameAndButton .itemName .designColorRed:after {
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: red;
    top: 21%;
    left: 21%;
}
.soupItemsArea .soupItemsInfo :last-child.mushroomItems_imgAndNameBox{
    border: none;
}
.mushroomItems_NameAndButton .itemName del{
    color: red;
}
.mushroomItems_imgAndNameBox .mushroomItems_NameAndButton .itemName p {
    margin: 0;
    font-size: 9px;
    font-weight: 700;
    letter-spacing: 0.3px;
    color: #686666;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 22px;
}
.soupItemsInfo .mushroomItems_imgAndNameBox {
    display: flex;
    width: 100%;
    gap: 15px;
    padding: 10px 12px;
    border-bottom: 1px solid #c5c2c2c7;
}
.mushroomItems_NameAndButton .itemsButton a {
    font-size: 13px;
    font-weight: 600;
    font-family: 'Roboto',sans-serif;
    color: #706666;
    border: 1.6px solid #777575bd;
    padding: 2px 8px;
    background: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    border-radius: 6px;
}
.mushroomItems_imgAndNameBox .mushroomItems_NameAndButton {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/*-- soupItemsArea end--*/


/*-- itemsTabWrp start--*/

.itemsTabWrp {
    border: 1px solid gainsboro;
    border-radius: 5px;
    box-shadow: 0 0 20px rgb(0 0 0 / 8%);
}
.itemsTabWrp .tabHeaderTittle h6 {
    margin: 0;
    line-height: 40px;
    font-size: 17px;
    font-family: 'Poppins',sans-serif;
    text-align: center;
    font-weight: 600;
    background: #0000af;
    color: white;
    letter-spacing: 1px;
}
.itemsTabWrp .nav-tabs {
    border-bottom: none;
    flex-direction: column;
}
.itemsTabWrp .nav-tabs .nav-item .nav-link {
    color: #000000;
    padding: 5px 15px;
    border-radius: unset;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    background-color: white;
}
.itemsTabWrp .nav-tabs .nav-item {
    margin-bottom: 0;
}
.itemsTabWrp .nav-tabs .nav-item {
    margin-bottom: 0;
    border-bottom: 1px solid gainsboro;
}
.itemsTabWrp .nav-tabs:last-child .nav-item{
    border-bottom: none;
}
.itemsTabWrp .nav-tabs .nav-link:focus{
    background-color: #001fbb;
    color: white;
}
/*-- itemsTabWrp end--*/

/*-- modalArea start--*/

.shopItems_section .btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}
.shopItems_section .modal{
    background: rgb(255 255 255 / 59%);
}
.modalButoonStyle {
    background: #404FB6;
    color: white;
    position: fixed;
    bottom: 10px;
    box-shadow: 0 9px 16px rgb(72 71 71 / 26%);
    border: none;
    width: 58%;
    z-index: 1;
}
.modal-content .modal-body {
    padding-bottom: 40px;
}
.modalButoonStyle .buttonContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}
.buttonContainer .buttonLeftContent p {
    margin: 0;
    font-size: 12px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    letter-spacing: 0.2px;
}
.buttonContainer .buttonLeftContent i {
    font-size: 8px;
    padding-right: 5px;
}
.buttonContainer .buttonRightContent p {
    margin: 0;
    font-size: 12px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    letter-spacing: 0.2px;
}
.buttonContainer .buttonRightContent i {
    font-size: 8px;
    padding-left: 5px;
}

/*-- itemsPriceDetails start--*/

.itemsContainer .itemHeadTittle h6 {
    margin: 0;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    letter-spacing: 0.2px;
}
.itemsNameAndPrice .mushroomItemsBox {
    display: flex;
    gap: 15px;
    margin-top: 15px;
    border-bottom: 1px solid #d8d2d2;
}
.mushroomItemsBox .itemsImgBox img {
    width: 35px;
    height: 35px;
    object-fit: cover;
}
.mushroomItemsButtonBox .itemName h5 {
    margin: 0;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.mushroomItemsButtonBox .itemName span {
    width: 10px;
    height: 10px;
    position: relative;
    display: inline-block;
    border-radius: 3px;
    border: 1.4px solid #00aa71;
}
.mushroomItemsButtonBox .itemName span:after {
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #00aa71;
    top: 17%;
    left: 13%;
}
.mushroomItemsButtonBox .itemName p {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 9px;
    line-height: 20px;
    color: #716c6c;
}
.mushroomItemsBox .mushroomItemsButtonBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.itemsButton .inputButton .pieceButton {
    height: 22px;
    width: 22px;
    border: none;
    background: white;
    color: #636e72;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px 6px 6px 6px;
}
.itemsButton .inputButton {
    display: flex;
    align-items: center;
    border: 1.5px solid #636e72;
    border-radius: 6px;
}
.itemsButton .inputButton .buttonInput {
    width: 25px;
    text-align: center;
    height: 22px;
    font-size: 11px;
    font-family: 'Noto Sans JP', sans-serif;
    border: none;
    background: #636e72;
    color: white;
}
.mushroomItemsButtonBox .itemsButton h6 {
    font-size: 11px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 600;
    margin: 0;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.mushroomItemsButtonBox .itemsButton h6 i {
    font-size: 10px;
    padding-right: 1px;
}
.itemsName_andButtonBox .itemsButton h6 {
    font-size: 11px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 600;
    margin: 0;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.itemsName_andButtonBox .itemsButton h6 i {
    font-size: 10px;
    padding-right: 1px;
}
.saladItemsButtonBox .itemsButton h6 {
    font-size: 11px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 600;
    margin: 0;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.saladItemsButtonBox .itemsButton h6 i {
    font-size: 10px;
    padding-right: 1px;
}
.itemsPriceDetails .accordion_ContentBox {
    position: relative;
    margin-top: 30px;
}
.accordion_ContentBox .accordionTittle{
    position: relative;
    background: #2388F2;
    padding: 12px 20px;
    color: white;
    border-radius: 4px;

}
.accordion_ContentBox .accordionTittle h6 {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 17px;
}
.accordion_ContentBox .accordionTittle i {
    font-size: 10px;
    background: white;
    color: #007cff;
    padding: 4px 5px;
    border-radius: 50%;
    border-style: dashed;
    font-weight: 700;
    margin-right: 15px;
}
.accordion_ContentBox .accordionTittle::before {
    position: absolute;
    content: '>';
    top: 50%;
    right: 20px;
    transform: translateY(-57%);
    font-size: 1.5rem;
}
.accordion_ContentBox .applyFormArea {
    position: relative;
    height: 0;
    overflow: hidden;
}
.accordion_ContentBox .applyFormArea .applyForm_style {
    background: white;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.3px;
    padding: 11.2px;
    border: 1px solid #afafaf;
    border-radius: 7px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
.accordion_ContentBox .applyFormArea .applyForm_style:focus {
    border-color: #afafaf;
    box-shadow: unset;
}
.accordion_ContentBox .applyFormArea .applyButton {
    position: absolute;
    top: 25px;
    right: 0;
    border: none;
    padding: 0;
}
.accordion_ContentBox .applyFormArea .applyButton p {
    margin: 0;
    font-size: 12px;
    font-family: 'Roboto',sans-serif;
    padding: 13px 11px;
    font-weight: 600;
    background: #0000bf;
    color: white;
    border-radius: 0 7px 7px 0;
}
.itemsPriceDetails .modalFooterContent ul {
    list-style: none;
    padding: 15px 0;
    margin: 0;
    border-bottom: 1.5px solid #d6d6d6;
}
.itemsPriceDetails .modalFooterContent ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.itemsPriceDetails .modalFooterContent ul li p {
    margin: 0;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #6a6a6a;
    line-height: 30px;
}
.itemsPriceDetails .modalFooterContent ul li span {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #363636;
}
.itemsPriceDetails .modalFooterContent .text p {
    margin: 0;
    font-size: 20px;
}
.itemsPriceDetails .modalFooterContent .text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.itemsPriceDetails .modalFooterContent .text p {
    margin: 0;
    font-size: 17px;
    font-family: 'Poppins';
    font-weight: 700;
}
.itemsPriceDetails .modalFooterContent .text span {
    font-weight: 600;
    font-family: 'Noto Sans JP';
}
.itemsPriceDetails .modalFooterContent {
    position: relative;
    margin-top: 20px;
    border-radius: 4px;
    padding: 0 10px;
    box-shadow: 0 15px 20px rgba(0,0,0,0.1);
    transition: all .3s ease-in-out;
    border: 1.5px solid #a2a2a26b;
}
.accordion_ContentBox.active .applyFormArea {
    height: 75px;
}
.accordion_ContentBox.active .accordionTittle{
    box-shadow: 0 0 20px #22ff62a3;
}
.accordion_ContentBox.active .accordionTittle::before {
    transform: rotate(90deg);
    top: 17%;
}

/*-- itemsPriceDetails end--*/

/*-- tabsArea start--*/

.modal-body .tabsArea {
    background: #dddddd59 !important;
    padding: 15px;
    border: 1.5px solid #8f8f8f5e !important;
    border-radius: 5px;
    padding-bottom: 38px;
    box-shadow: 0 5px 15px #00000017;
}
.tabsArea .nav-tabs {
    background: #fff;
    align-items: center;
    display: inline-flex;
    border-radius: 5px;
    padding: 2px 4px;
    border-bottom: none;
    box-shadow: 0 0 10px #dee2e6;
}
.tabsArea .nav-tabs .nav-link {
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
    color: #0021c3;
    font-weight: 500;
    letter-spacing: .4px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #ffffff;
    background-color: #001fbb;
    padding: 5px 15px;
    border-radius: 6px;
    outline: none;
    border: none;
}
.tab-content .tabFormWrp {
    margin-top: 20px;
}
.tabFormWrp .tabFormWrp_tittle p {
    margin: 0;
    font-size: 12px;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    letter-spacing: 0.3px;
}
.tabFormWrp .writingArea{
    position: relative;
}
.tabFormWrp .writingArea .tabFormStyle {
    width: 100%;
    padding-left: 45px;
    background: white;
    border: 1px solid #0000003b;
    border-radius: 6px 0 0 6px;
    font-size: 12px;
    line-height: 35px;
    font-family: 'Poppins', sans-serif;
    outline: none;
    box-shadow: 0 2px 4px #00000033;
    margin-top: -14px;
}
.tabFormWrp .writingArea button {
    position: absolute;
    top: 11px;
    left: 0;
    border-right: 1px solid #00000036 !important;
    height: 38px;
    width: 36px;
    border-radius: 6px 0 0 6px;
    font-size: 15px;
    color: #736c6c;
    border: none;
}
.tabFormWrp .inputNameArea .inputNameStyle {
    border: 1px solid #0000003b;
    outline: none;
    font-size: 12px;
    font-family: 'Poppins';
    font-weight: 500;
    box-shadow: 0 2px 4px #00000033;
    padding: 9px 12px;
    margin-top: -10px;
}
.tabFormWrp .inputAddressArea .addressFormStyle {
    width: 100%;
    border: 1px solid #0000003b;
    outline: none;
    font-size: 12px;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    box-shadow: 0 2px 4px #00000033;
    padding: 7px 10px;
    border-radius: 5px;
    margin-top: -8px;
}
.tabFormWrp .continuwButton p i {
    font-size: 16px;
    padding-right: 8px;
}
.tabFormWrp .continuwButton p {
    margin: 0;
    color: white;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.5px;
    font-weight: 500;
    padding: 5px 0;
}
.tabFormWrp .continuwButton {
    text-align: center;
    background: #73d896;
    border-radius: 8px;
    margin-top: 15px;
}
.tabFormWrp .selectForm {
    margin-top: 10px;
}
.selectForm .selectForm_style {
    border: 1px solid #00000026;
    outline: none;
    font-size: 12px;
    font-weight: 500;
    box-shadow: 0 2px 4px #00000033;
    color: #000000b0;
    font-family: 'Noto Sans JP';
    padding: 0 6px;
    border-radius: 6px;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
}

/*-- tabsArea end--*/

/*-- modalArea end--*/


/*-- shopItems_section end--*/